<HTML>
<HEAD>
<title> Ansible test HTML </title>

<body bgcolor="black">
<font color="gold"> owner this server: {{ owner }} <br>
server hostname : {{ ansible_hostname }} <br>
sever os family : {{ ansible_os_family }} <br>
IP address server : {{ ansible_default_ipv4.address }} <br>
AVV : {{ hueowner }} <br>

</HEAD>

</body>